$mainBlue: #006694;
$mainGreen: #83B13F;
$mainGray: #F0F0F0;
@media (max-width: 870px){
  body{
    margin:0;
    margin-top:50px;
  }
}
@media (min-width: 869px){
  body{
    margin: 0;
    margin-top:15px;
  }
}
