@import '../layout.scss';

@media (max-width: 869px){
  .contactus{
    padding-top: 100px;
    padding-bottom: 100px;

    &__wrap{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__form{
      width: 350px;
      display: flex;
      align-items: center;
    }

    &__textarea{
      width:343px;
    }
  }
}

@media (min-width: 870px){
  .contactus{
    height: 700px;
    margin-top: 200px;
    background: url('../../images/contactUs/BG.png');
    background-size: 100% 100%;
    .input{
      width: 102%;
    }

    &__wrap{
      text-align: center;
      margin-top: -250px;
    }

    &__form{
      align-items: center;
      width: 400px;
    }

    &__textarea{
      width: 100%;
    }
  }
}
.contactus{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img{
    width: 100%;
  }

  &__title{
    font-family: "BelongSans";
    color: $mainBlue;
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__label{
    color: $mainBlue;
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
    margin-top: 10px;
    font-family: "Comfortaa";
  }

  &__form{
    display: flex;
    flex-direction: column;
  }

  &__input{
    width: 100%;
    margin-bottom: 10px;
    padding:6px;
    border-radius: 5px;
    border: 1px solid $secondaryGray;
  }

  &__textarea{
    padding: 10px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $secondaryGray;
  } 

  &__btn{
    width: 128px;
    padding:10px;
    background-color: $mainBlue;
    color:white;
    border: 0px solid;
    border-radius: 25px;
    font-size: 14px;
    font-family: "BelongSans";
    margin-top: 10px;

    &:hover{
      cursor: pointer;
      background-color: $mainGreen;
    }
  }

  &__phone{
    display: none;
  }

  &__loading{
    @media (min-width:800px){
      margin-top:-200px;
    }
    @media (max-width:799px){
      padding-bottom:60px;
    } 
  }

  &__sucess{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50vh;
  }

  &__sucess-wrap{
    text-align: center;
    width:100%;
    @media (min-width:800px){
      margin-top: -200px;
    }
  }

  &__sucess-title{
    font-family: "BelongSans";
    color: $mainBlue;
    margin-top:0;
  }

  &__sucess-description{
    text-align:center;
    font-family: "Comfortaa";
    margin-top: 0px;
    color: $secondaryGray;
  }
}

.contactus{
  &__error-msg{
    color:red;
    margin:0;
    font-family: "Comfortaa";
  }
}
